*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black:#141414;
    --lightBlack:#222;
    --white:#ddd;
    --lightWhite:#fff;
}
body{
    background-color: var(--white);
}
header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 80%;
    margin: auto;
    border-bottom: solid 2px var(--black);
}
main{
    display: flex;
    flex-direction: column;
    margin: 50px 0 30px 0;
}
h1{    
    text-align: center;
    color: var(--black);
    font-size: 40px;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
}
img{
    max-width: 200px;
    max-height: 200px;
}

/* Movies */
.movieContainer{
    margin: 50px 0 0 100px;
    width: 80%;
}
.movieData{
    display: flex;
    gap: 30px;
}
.movieContainer h3{
    text-transform: uppercase;
    font-size: 27px;
}
.movieContainer h4{
    font-size: 20px;
}
.movieContainer h5{
    font-size: 15px;
}
.data{
    padding: 12px;
}

/* Genres */
.genres.h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}
.genreContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    gap: 20px;
}
.genresTableCont{
    display: flex;
    gap: 40px;
}
.genresTableCont table td{
    padding: 15px;
}
.genreThead td{
    background-color: var(--lightBlack);
    color: var(--lightWhite);
}
.genreTbody td{
    border: 2px solid var(--black);
    color: var(--lightBlack);
}
.genreContainer.unlogged{
    margin-top: 10%;
}
.genreList{
    display: flex;
    list-style: none;
    justify-content: center;
}
.genreList li{
    margin: 5px;
    font-size: 25px;
}
.genreList li a{
    color: var(--black);
}
.genreList li:hover{
    font-size: 27px;
} 

/* Buttons */
.btnContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0 10px;
    gap: 20px;
    width: 33%;
}
.btn{
    background-color: var(--lightBlack);
    border: 0;
    padding: 10px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: var(--white);
}
.btn:hover{
    background-color: var(--black);
    color: var(--lightWhite);
}
.btn.particular{
    grid-column-start: span 2;
}

/* Form */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 320px;
    height: 270px;
    border: solid 2px #141414;
}
.form.small{
    width: 270px;
    height: 220px;
}
.form form{
    display: flex;
    flex-direction: column;
}
.form form label{
    padding: 2px;
}
.form.genre label{
    text-align: center;
}
.errorMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}